<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <head>
      <a href="/new">Create your message</a>
    </head>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Messages</h2>
    <% messages.forEach(function (message) { %>
    <p><%= message.user %></p>
    <p><%= message.text %></p> <span><%= message.added %></span>
    <% }); %>
  </body>
</html>
